<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350942767668-3vtv7vd94dil50lkv9lsuseikomffcmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350942767668-3vtv7vd94dil50lkv9lsuseikomffcmv</string>
	<key>API_KEY</key>
	<string>AIzaSyAy_9xvHwRiAXE9SGkMQReZChZ02lnwNX0</string>
	<key>GCM_SENDER_ID</key>
	<string>350942767668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdfr</string>
	<key>PROJECT_ID</key>
	<string>pdfr-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pdfr-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350942767668:ios:f52a28f65a1814e4f83861</string>
</dict>
</plist>